@import '~bootstrap/scss/bootstrap';
@import 'variables.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 200px;
  align-items: center;
  border: 1px solid black;
  border-radius: 2%;
  background-color: $board-color;
  input {
    border: 1px solid black;
    border-radius: 10%;
    margin: 2px;
  }
}

.gameboard-locations {
    border: 1px solid;
    background-color: $board-color;
    height: 100px;
}
