@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

$light-green: #c4f5cc;
$pale-blue: rgb(85, 116, 166);
$revalia: 'Revalia', sans-serif;
$Quattrocento-Sans: 'Quattrocento Sans', sans-serif;

$board-color: $light-green;
$logo-background-color: $pale-blue;
$logo-font: $Quattrocento-Sans;
